@import "~bootstrap/scss/bootstrap";

header {
    width: 100%;
    height: 100px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
  
    .logo {
      width: 70px;
  
      img {
        width: 100%
      }
    }
  
    nav {
      height: 100%;
  
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
  
      li {
        padding: 10px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
  
        &.active {
          border-bottom: 3px solid $primary;
          }
  
        a {
          color: #787878;
        }
      }
    }
    }
  
  }

.jumbotron {
    width: 100%;
    height: 350px;
    background-image: url("../../public/img/jumbotron.jpg");
    background-size: cover;
}
  
